body
{
    background-color:#969593;
}
#d{
    width: 217;
    margin: 5;
    font-size: 25;
    padding: 5;
    height: 61px;
}
.box
{
    background-color:#acacac;
    height:445px;
    width:271px;
    position:relative;
    padding-left: 14px;
    top:80px;
    left:35%;
}
.display input
{
    position:relative;
    left:2px;
    top:2px;
    height:35px;
    color:black;
    background-color:#bccd95;
    font-size:21px;
    text-align:right;
}
.keys
{
    position:relative;
    top:15px;
}
.button {
width: 50;
height: 50;
font-size: 25;
margin: 2;
cursor: pointer;
}
.button.orange
{
    color:black;
    background-color:FF9933;
    border-bottom:black 2px solid;
    border-top:2px FF9933 solid;
}
